body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: red;
    text-shadow: 0 0 10px #03a9f4, 0 0 20px #03a9f4;
    margin-bottom: 20px;
}

.game-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    border: 2px solid #444;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#tetris-board {
    border: 2px solid #444;
    background-color: #000;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.game-info h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

#score {
    font-size: 2rem;
    font-weight: bold;
    color: blue; /* 점수 색상을 파란색으로 변경 */
    margin-top: 0;
    margin-bottom: 30px;
}

#level {
    font-size: 2rem;
    font-weight: bold;
    color: #ffc107; /* 레벨 색상은 기존 유지 */
    margin-top: 0;
    margin-bottom: 30px;
}

#next-piece {
    border: 2px solid #444;
    background-color: #000;
    margin-bottom: 20px;
}

#start-pause-button {
    background-color: #03a9f4;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-transform: uppercase;
}

#start-button:hover {
    background-color: #0288d1;
    box-shadow: 0 0 15px #03a9f4;
}

#start-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}
